{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="container d-flex mx-auto justify-content-center my-5 ">
    <div class="row d-flex mx-auto flex-wrap-reverse flex-md">
        <div class=" mx-auto col-12 col-md-11 ">
            <div class="my-3 card shadow-lg p-3">
                <h1 class="text-center">{{article.title}}</h1>
                <hr class="m-1">
                <p>{{article.content|raw}}</p>
            </div>
        </div>
    </div>
</div>

    <a href="{{ path('admin_delete_article', {'id': article.category.id}) }}">Retour</a>

    <a href="{{ path('admin_edit_article', {'id': article.id}) }}">Modifier</a>

{{ include('article/_delete_form.html.twig') }}
{% endblock %}